@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Firefox & Webkit */
  .no-scrollbar {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE/Edge */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;              /* Chrome/Safari */
  }

  /* Show scrollbar on hover */
  .hover-scrollbar:hover {
    scrollbar-width: thin;                 /* Firefox */
    scrollbar-color: auto auto;             /* Firefox */
  }
  .hover-scrollbar:hover::-webkit-scrollbar {
    display: block;                         /* Chrome/Safari */
  }
}
